<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,769},{28,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,566},{40,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,294},{23,41}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,984},{31,44}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,718},{29,43}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,952},{24,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,952},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,717},{26,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,902},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,869},{25,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,952},{24,42}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,390},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,440},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,769},{28,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r10.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,616},{40,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r11.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,343},{23,41}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r12.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,666},{31,44}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r13.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,666},{29,43}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,490},{24,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r3.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,4},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r4.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,819},{26,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r5.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,54},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r6.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,902},{25,42}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r7.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,104},{24,42}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r8.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,154},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>r9.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,204},{24,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>spBigBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{142,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,185}</string>
			</dict>
			<key>sp_bg_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,197},{142,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,185}</string>
			</dict>
			<key>sp_bg_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,743},{78,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,103}</string>
			</dict>
			<key>sp_bg_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,918},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>sp_clubs.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,294},{30,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>sp_diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,374},{30,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>sp_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,332},{30,28}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>sp_king_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,566},{122,169}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,185}</string>
			</dict>
			<key>sp_king_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,854},{66,85}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,103}</string>
			</dict>
			<key>sp_king_Small.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,826},{9,49}}</string>
				<key>offset</key>
				<string>{-8,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>sp_sking_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,390},{123,168}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,185}</string>
			</dict>
			<key>sp_sking_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,947},{64,85}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,103}</string>
			</dict>
			<key>sp_sking_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,826},{9,49}}</string>
				<key>offset</key>
				<string>{-8,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>sp_Spades.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,254},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>fangpian..png</key>
			<dict>
				<key>frame</key>
				<string>{{90,743},{65,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,75}</string>
			</dict>
			<key>heitao.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,854},{67,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,75}</string>
			</dict>
			<key>hongxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,843},{67,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,55}</string>
			</dict>
			<key>meihua.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,937},{67,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pokers.png</string>
			<key>realTextureFileName</key>
			<string>Pokers.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>