<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_add_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1994},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>anim_add_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,433},{85,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>
			<key>anim_callscore_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,410},{85,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>
			<key>anim_callscore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,644},{70,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,44}</string>
			</dict>
			<key>anim_callscore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,562},{76,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,44}</string>
			</dict>
			<key>anim_callscore_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,635},{76,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,44}</string>
			</dict>
			<key>anim_qiangdizhu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,341},{86,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,43}</string>
			</dict>
			<key>duanyu_biaoqing0.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,261},{75,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,69}</string>
			</dict>
			<key>dz_warn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1285},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1012},{201,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,73}</string>
			</dict>
			<key>juxing_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1976},{192,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,58}</string>
			</dict>
			<key>landlord_image.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,409},{29,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,53}</string>
			</dict>
			<key>leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,779},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,501},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,64}</string>
			</dict>
			<key>prepare.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1223},{127,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,56}</string>
			</dict>
			<key>time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1012},{205,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,71}</string>
			</dict>
			<key>voice.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,559},{48,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,70}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1289},{585,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{585,435}</string>
			</dict>
			<key>da.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,746},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>jingjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,89},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>linlin.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,96},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lord_image.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,266},{72,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,69}</string>
			</dict>
			<key>Mask Edition.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1280,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>
			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1219},{144,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,55}</string>
			</dict>
			<key>xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,746},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>xixi.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,175},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>icon_owner.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1162},{64,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,36}</string>
			</dict>
			<key>img_fram.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,524},{34,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,58}</string>
			</dict>
			<key>land.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,588},{34,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,58}</string>
			</dict>
			<key>touxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,931},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>touxinagdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,336},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>user_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1880},{216,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,108}</string>
			</dict>
			<key>beishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,341},{42,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,22}</string>
			</dict>
			<key>difen.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,389},{42,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,22}</string>
			</dict>
			<key>difen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,336},{67,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,25}</string>
			</dict>
			<key>guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1144},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>likai.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,182},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,685},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,720},{57,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,53}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1012},{144,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,55}</string>
			</dict>
			<key>button_likai.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,931},{203,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,75}</string>
			</dict>
			<key>bujiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,3},{226,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,89}</string>
			</dict>
			<key>3fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,235},{226,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,89}</string>
			</dict>
			<key>2fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,467},{226,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,89}</string>
			</dict>
			<key>1fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,699},{226,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,89}</string>
			</dict>
			<key>tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1880},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>buchu.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1289},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>anim_jiaodizhu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1994},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>anim_qiangdizhu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1012},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>tx_toumingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,3},{87,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,88}</string>
			</dict>
			<key>chupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1289},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>clock_anim.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,3},{81,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>
			<key>anim_magic_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,468},{85,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LandTablelist.png</string>
			<key>realTextureFileName</key>
			<string>LandTablelist.png</string>
			<key>size</key>
			<string>{1021,2041}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>2041</integer>
		</dict>
	</dict>
</plist>