<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>M_bamboo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,0},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,0},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,0},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,75},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,75},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,75},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,109},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,450},{75,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,450},{75,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,150},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,150},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,150},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,218},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,225},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,225},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,225},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,300},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,300},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,300},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,327},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,375},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,375},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,375},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_east.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,436},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_north.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,545},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_south.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_west.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,525},{75,109}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Z_my_blue.png</string>
			<key>realTextureFileName</key>
			<string>Z_my_blue.png</string>
			<key>size</key>
			<string>{511,654}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>511</integer>
			<key>height</key>
			<integer>654</integer>
		</dict>
	</dict>
</plist>