<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touxiangkuangshanshuo00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,209},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,209},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{305,209},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,417},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,417},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{305,417},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,625},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,625},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{305,625},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,625},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{305,625},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,625},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,833},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,833},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{305,833},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,1041},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{153,1041},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{305,1041},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,1249},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuangshanshuo_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{150,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>touxiangkuang.png</string>
            <key>size</key>
            <string>{456,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f76240456f6069c7381d0e94b4349dc:5d8e7efa5c456935bb8b9bd95e09eff4:295f12805ef6f3e999aaa4985f052fc8$</string>
            <key>textureFileName</key>
            <string>touxiangkuang.png</string>
        </dict>
    </dict>
</plist>
