<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,0},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,232},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,302},{74,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,41}</string>
			</dict>
			<key>101.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,301},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>102.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,370},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>103.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,439},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>104.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>105.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,69},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>106.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,138},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>107.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,207},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>108.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,276},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>109.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,345},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,0},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>110.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,414},{235,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,69}</string>
			</dict>
			<key>111.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{232,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,100}</string>
			</dict>
			<key>112.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{232,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,100}</string>
			</dict>
			<key>113.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{232,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,100}</string>
			</dict>
			<key>114.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{232,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,100}</string>
			</dict>
			<key>115.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,232},{232,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,100}</string>
			</dict>
			<key>116.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,232},{232,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,100}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,86},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,0},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,86},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>200.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,0},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,464},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,0},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,110},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,156},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,172},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,86},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,129},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,43},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,259},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,346},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,389},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,172},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,172},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,86},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,129},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>46.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,0},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>47.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,43},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>48.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,259},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>49.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,215},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>800.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{239,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CowPlist.png</string>
			<key>realTextureFileName</key>
			<string>CowPlist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>