<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,744},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,710},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>10c.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,744},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>10d.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,638},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>11a.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,604},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>11b.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,532},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>11c.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,888},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>11d.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,746},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>12a.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,604},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>12b.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,888},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>12c.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,746},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>12d.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,604},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>13a.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,498},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>13b.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,426},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>13c.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,426},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>13d.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,426},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>14a.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,782},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>14b.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,640},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>14c.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,498},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>14d.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,356},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,320},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,320},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,320},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,320},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,214},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,214},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,214},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,214},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,214},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,782},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,640},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,498},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>53a.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,356},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>54a.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,108},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,108},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>5c.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,108},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,108},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,818},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>6c.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,676},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,534},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>7a.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,392},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,250},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>7c.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>7d.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>8a.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>8c.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>8d.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>9a.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>9c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>9d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>spBigBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pokers.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3be22f101fd57a67dbb9b6302b2185fb:1/1$</string>
            <key>textureFileName</key>
            <string>Pokers.png</string>
        </dict>
    </dict>
</plist>
