<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cheers1.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{61,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,69}</string>
			</dict>
			<key>cheers10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers4.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers5.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,160},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers6.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,320},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers7.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,0},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers8.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,160},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>cheers9.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,320},{160,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>beer.png</string>
			<key>realTextureFileName</key>
			<string>beer.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>